.footer{
    @include boxModel(100%, 70vh){
      background-color: black;
      color: white;
      display: flex;
      justify-content: space-around;
    }

    &_h1{
      display: flex;
      align-items: center;
      width: 40%;
      height: 90%;
      border-right: 1px solid white;
    }

    &_nav{
      @include boxModel(60%, 100%){
        display: flex;

      }

      &_ul li{
        margin-top: 12%;
      }
      &_ul li a{
        text-decoration: none;
        color: white
      }
    }
  }