$positionHeader: relative;
$positionNav: absolute;
//$hover: false !default;
//Aquí van todos los elementos que estan dentro del header (Nav, Ul)
.header {
  @include boxModel(100%, 20vh) {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    position: $positionHeader;
    color: white;
    z-index: 1;
    position: fixed;
    @include desktop() {

    }
  }
  &_h1 {
    align-self: center;
    font-size: 3em;
  }

  &_section {
    @include boxModel(40%, 100%) {
      margin-right: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &_nav {
    @include boxModel(23%, 100%) {
      display: none;
      position: $positionNav;
      right: 4%;
      top: 70%;
      border: 3px solid black;
      color: black;
      text-align: center;
      @include desktop() {
        @include boxModel(40%, 60%){
          align-self: center;
          position: static;
          display: block;
          border-left: 2px solid white;
        }
      }
    }

    &_ul {
      @include boxModel(100%, 100%){
        @include desktop() {
          display: flex;
        }
        
        justify-content: center;
        align-items: center;
      }
    }

    &_ul li {
      background-color: black;
      color: white;
      width: 100%;
      height: 25%;
      font-family: "Roboto", sans-serif;
    }
  }
  &_input {
    @include boxModel(8%, 25%) {
      position: absolute;
      align-self: center;
      border: 2px solid black;
      right: 5%;
      opacity: 0;
      cursor: pointer;
      @include desktop() {
        display: none;
      }
    }
  }
}

.hamburguer {
  @include boxModel(8%, 25%) {
    align-self: center;
    border: 2px solid black;
    margin-right: 5%;

    @include desktop() {
      display: none; 
    }
  }
}

.header_nav_ul li:hover {
  display: block;
}

.barras {
  @include boxModel(100%, 30%) {
    font-size: 3em;
  }
}

.barra1 {
  border-top: 2px solid white;
  margin-top: 8%;
}

.barra2 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

input:checked ~ nav {
  display: block;
}

.hline {
  @include boxModel(80%, 20%) {
    text-align: center;
    border-top: 2px solid white;
  }

  
}

.over-hline {
  @include boxModel(90%, 20%){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 123, 0);
    padding: 9%;
    margin-bottom: 5%;
    @include desktop() {
      margin-bottom: 1%; 
      padding: 5%;
    }
  }
}

.over-hline:hover{
  background-color: rgb(190, 92, 1);
  cursor: pointer;
}

.over-hline a{
  text-decoration: none;
  color: black;
}